@charset "UTF-8";
:root {
  --main-color: #212121;
  --used-color: #ffffff;
  --used-transparent-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --dark-accent-color: #188ce8;
  --body-color: #757575;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --main-gap: 30px;
  --title-gap: 50px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--used-color);
  color: var(--body-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

/*------------Шапка сайта-header------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.header__container,
.nav,
.header-list,
.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__logo--color {
  color: #000000;
}

.header-list__item:not(:last-child),
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link,
.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list__link {
  position: relative;
  display: block;
  color: var(--main-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-color);
  transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*------------Cекция Герой-Hero------------*/
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  margin-bottom: var(--main-gap);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--used-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  color: var(--used-color);
}

/*------------Секция Наши преимущества------------*/
.benefits__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc(25% - 30px);
  }
}

.benefits__thumb {
  margin-bottom: var(--main-gap);
  padding: 25px 0;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__title-secondary {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (max-width: 767px) {
  .benefits__title-secondary {
    text-align: center;
  }
}

.benefits__text {
  line-height: 1.71;
}

/*------------Секция Чем мы занимаемся------------*/
.speciality {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .speciality {
    display: none;
  }
}

.speciality__title {
  margin-bottom: var(--title-gap);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
}

.speciality__list {
  display: flex;
}

.speciality__item:not(:last-child) {
  margin-right: var(--main-gap);
}

.speciality__item {
  position: relative;
}

.speciality__img {
  width: 370px;
}

.speciality__text {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--used-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*------------Секция Наша команда------------*/
.team {
  background-color: #f5f4fa;
  text-align: center;
}

.team__title-main {
  margin-bottom: var(--title-gap);
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
}

.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 30px);
  }
}

.team__card {
  padding-top: var(--main-gap);
  padding-bottom: var(--main-gap);
  background-color: var(--used-color);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team__title-secondary {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  color: var(--main-color);
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--used-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
  color: var(--used-color);
}

.soc__icon {
  fill: currentColor;
}

/*------------Секция Постоянные клиенты------------*/
.clients__title {
  margin-bottom: var(--title-gap);
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
  text-align: center;
}

.clients__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.clients__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(16.6666666667% - 30px);
  }
}

.clients__link {
  display: flex;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  color: var(--icon-color);
  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/*------------Подвал сайта-Footer------------*/
.footer {
  background-color: var(--footer-bg-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--color {
  color: var(--used-color);
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}

.footer__link--address {
  color: var(--used-color);
}

.footer__link--mail,
.footer__link--phone {
  color: var(--used-transparent-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer__link--mail:hover, .footer__link--mail:focus,
.footer__link--phone:hover,
.footer__link--phone:focus {
  color: var(--used-color);
}

@media screen and (max-width: 1199px) {
  .footer-join {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
  }
}

.footer-join__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--used-color);
}

.footer-join__list {
  display: flex;
  justify-content: center;
}

.footer-join__item:not(:last-child) {
  margin-right: 10px;
}

.footer-join__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--used-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-join__link:hover, .footer-join__link:focus {
  color: var(--used-color);
  background-color: var(--accent-color);
}

.footer-join__icon {
  fill: currentColor;
}

/*------------Форма в Footer------------*/
@media screen and (max-width: 1199px) {
  .footer-form__field {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    margin-left: auto;
  }
}

.footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--used-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__wrap {
    display: flex;
  }
}

.footer-form__input {
  padding-left: 16px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transition: border var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-right: 12px;
    width: 358px;
  }
}
.footer-form__input:hover, .footer-form__input:focus {
  border: 1px solid rgba(33, 149, 243, 0.5);
}

.footer-form__button {
  margin: 0 auto;
  min-height: 50px;
  padding: 0 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--used-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: var(--dark-accent-color);
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--used-color);
}

/*------------Модальное окно------------*/
.backdrop {
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--used-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.09, 0.62, 0.73, 1);
  transform: translate(-50%, -50%) rotate(0deg);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--used-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-hidden .modal {
  transform: rotate(90deg);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/*------------Форма в модальном окне------------*/
.form__field {
  margin-bottom: 10px;
}

.form__input {
  padding-left: 32px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--body-color);
}

.form__textarea-field {
  margin-bottom: 20px;
}

.form__text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.form__text:hover, .form__text:focus {
  border-color: var(--accent-color);
}
.form__text:hover::placeholder, .form__text:focus::placeholder {
  color: rgba(33, 149, 243, 0.5);
}

.form__text::placeholder {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.form__wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__checkbox {
  margin-bottom: 30px;
}

.form__checkbox-label {
  line-height: 1.71px;
  color: var(--body-color);
  display: flex;
  align-items: center;
}
.form__checkbox-label:hover .form__checkbox-wrap {
  border: 2px solid var(--accent-color);
}

.form__checkbox-link {
  color: var(--accent-color);
}

.form__checkbox-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form__checkbox-input:focus + .form__checkbox-label .form__checkbox-wrap {
  border: 2px solid var(--accent-color);
}

.form__checkbox-icon {
  fill: transparent;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__checkbox-input:checked + .form__checkbox-label .form__checkbox-wrap {
  background-color: var(--accent-color);
  border: none;
}

.form__checkbox-input:checked + .form__checkbox-label .form__checkbox-icon {
  fill: var(--used-color);
}

.form__button-submit {
  margin: 0 auto;
  min-height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--used-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.form__button-submit:hover, .form__button-submit:focus {
  background-color: var(--dark-accent-color);
}

/*------------Страница Портфолио------------*/
.portfolio-filter {
  display: flex;
  margin-bottom: var(--title-gap);
  justify-content: center;
}

.portfolio__button {
  padding: 0 22px;
  min-height: 38px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: var(--used-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--main-gap));
  margin-bottom: calc(-1 * var(--main-gap));
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-right: var(--main-gap);
  margin-bottom: var(--main-gap);
}

.portfolio__content {
  padding: 20px 24px;
  background-color: var(--used-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.portfolio__card {
  max-width: 370px;
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__card:hover .portfolio__thumb-text {
  transform: translateY(0%);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__thumb-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--used-color);
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.porfolio__title-secondary {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--body-color);
}/*# sourceMappingURL=main.css.map */