/*------------Секция Наши преимущества------------*/

.benefits__list {
  margin-bottom: -30px;

  @include media(768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits__item {
  margin-bottom: 30px;

  @include media(768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @include media(1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.benefits__thumb {
  margin-bottom: var(--main-gap);
  padding: 25px 0;

  width: 100%;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__title-secondary {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.benefits__text {
  line-height: 1.71;
}
