/*------------Секция Постоянные клиенты------------*/

.clients__list {
  margin-bottom: -30px;

  @include media(480px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.clients__item {
  margin-bottom: 30px;

  @include media(480px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @include media(768px) {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  @include media(1200px) {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  color: var(--icon-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
