/*------------Подвал сайта-Footer------------*/

.footer {
  background-color: var(--footer-bg-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include media(1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--color {
  color: var(--used-color);
}

.footer__contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}

.footer__link--address {
  color: var(--used-color);
}

.footer__link--mail,
.footer__link--phone {
  color: var(--used-transparent-color);
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--used-color);
  }
}

.footer-join {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
  @include media(1200px) {
    margin-left: 70px;
  }
}

.footer-join__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--used-color);
}

.footer-join__list {
  display: flex;
  justify-content: center;
}

.footer-join__item:not(:last-child) {
  margin-right: 10px;
}

.footer-join__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--used-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--used-color);
    background-color: var(--accent-color);
  }
}

.footer-join__icon {
  fill: currentColor;
}

/*------------Форма в Footer------------*/

.footer-form__field {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @include media(1200px) {
    margin-left: auto;
  }
}

.footer-form__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--used-color);
}

.footer-form__wrap {
  @include media(1200px) {
    display: flex;
  }
}

.footer-form__input {
  padding-left: 16px;
  height: 50px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 450px;
  }

  @include media(1200px) {
    margin-right: 12px;
    width: 358px;
  }

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transition: border var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 149, 243, 0.5);
  }
}

.footer-form__button {
  margin: 0 auto;
  min-height: 50px;
  padding: 0 29px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--used-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--dark-accent-color);
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--used-color);
}
