/*------------Шапка сайта-header------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.header__logo {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo--color {
  color: #000000;
}

.header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @include media(1200px) {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.header-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include media(1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.current {
  @media screen and (min-width: 768px) {
    color: var(--accent-color);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.header-nav__link,
.header-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.header-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  display: block;
  color: var(--main-color);
}

.header-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-color);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*------------Mobile-menu------------*/

.menu-button__open {
  @include media(768px) {
    display: none;
  }
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-icon__open {
  display: block;
  width: 40px;
  height: 40px;
}

.mobile-menu {
  @include media(768px) {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--used-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  overflow-y: auto;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu-button__close {
  position: absolute;
  display: block;
  padding: 0;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-icon__close {
  display: block;
  width: 40px;
  height: 40px;
}

.mobile-header-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-header-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.mobile-header-contacts {
  &:not(:last-child) {
    margin-bottom: 64px;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-header-contacts__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--body-color);

  transition: font-weight var(--transition-duration)
    var(--transition-timing-function);

  &.tel {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);

    @media screen and (max-width: 479px) {
      font-size: 9vw;
    }
  }

  &.mail {
    font-size: 24px;
    line-height: 1.17;
  }

  &:hover {
    font-weight: 700;
  }
}

.mobile-header-soc__list {
  display: flex;
}
.mobile-header-soc__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1.2px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}
.mobile-header-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);

  transition: font-weight var(--transition-duration)
    var(--transition-timing-function);

  @media screen and (max-width: 479px) {
    font-size: 4vw;
  }

  &:hover {
    font-weight: 700;
  }
}

.no-scroll {
  overflow: hidden;
}
