.main-title {
  margin-bottom: var(--title-gap);
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  color: var(--main-color);

  @include media(1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}
