body {
  font-family: "Roboto", "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--used-color);
  color: var(--body-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
